.classes
  .display
    a.expand(
      data-toggle='collapse',
      href='#classes',
      role='button',
      aria-expanded='false',
      aria-controls='cv'
    ) Classes
    | .
  #classes.collapse.collapse--section
    .subhead Advanced Institute of Industrial Technology
    .row
      .col-12.col-lg-6.col-xl-4.col-xxl-3.pr-md-5.pb-5
        .mono 2020 Q4
        .paragraph Design [Re]thinking
        .tiny Rethink design through design thinking. In recent years design thinking has gained legitimacy and popularity as a process for developing design and business to solve problems. Design thinking typically shares a couple of basic principles: namely human-centred, empathizing, prototyping, and testing. Although in many cases design thinking has proved itself valuable in both fostering creative culture and in generating and testing ideas, its ability to instantly enable anyone to solve problems creatively as advertised has been debunked. In this course we investigate design thinking, but it also leaves space to critically reconsider and improve its principles.
        .tiny 
          a(
            href='https://docs.google.com/presentation/d/1_gllYDXxIXHJIL9klyR3LnwoYMMG9KniDRvBs2CaXHg/edit?usp=sharing'
          ) Presentation slides
          = " "
          | |
          a(
            href='https://www.youtube.com/watch?v=qvzsuV6Uhpc&list=PLfl1nO_UeD4JuaJ_pthW6Focr17SrmAX_'
          ) Lecture videos
          | |
          = " "
          a(
            href='https://gist.github.com/xerroxcopy/5b8edc0db4bb9747ba52d1d3ff2f3f82'
          ) Syllabus draft
      .col-12.col-lg-6.col-xl-4.col-xxl-3.pr-md-5.pb-5
        .mono 2020 Q4
        .paragraph チーム設計・試作特別演習
        .tiny 自分たち自身が欲しいと思えるようなウェブサービスを発案し、最低限のプロトタイプを実装し、第三者にテストしてもらい、フィードバックを受けて改善・方向転換し、可能であれば実際にウェブ上でリリースすることを目指す演習である。課題発見・解決法の模索・その実装までを自律的に行うProject-based Learning (PBL)形式で実施する。チームで比較的単純なウェブサービスの Minimum Lovable Product(MLP)をつくることを目的とする。その過程をとおして UI プロトタイピングや、実装する場合は必要最低限の HTML, CSS, JavaScript の知識・能力を学習しつつ、問題の把握、ユーザーの欲求の整理とそれに基づいたアイディア発想、プロダクトの企画、市場調査、プロトタイプのテスト、ピヴォット、試行錯誤といった問題解決型のデザインに必要なスキルを身につける。
        .tiny 
          a(
            href='https://docs.google.com/presentation/d/1xNmzy4NzIsXtXWZm4PuVGPB6LlEegAG0YNjiJfzLY0c/edit?usp=sharing'
          ) Presentation slides
          = " "
          | |
          a(
            href='https://www.youtube.com/playlist?list=PLfl1nO_UeD4J5bu-p-fTF8fbw6visssiA'
          ) Lecture videos
          = " "
          | |
          = " "
          a(
            href='https://gist.github.com/xerroxcopy/6105be39391371986b1a40c630e2625a'
          ) Syllabus draft
