.cv-skills
  .head SKILLS
  .paragraph
    span
      a.expand(
        data-toggle='collapse',
        href='#cv-skills__programming',
        role='button',
        aria-expanded='false',
        aria-controls='cv-skills__programming'
      ) Programming
      | .
      = " "
      span#cv-skills__programming.collapse
        span He codes
        img.cv-skills__icon(
          src='../images/simple_icons/r.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='R',
          container='body'
        ) 
        | fluently with
        img.cv-skills__icon(
          src='../images/simple_icons/rstudio.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='RStudio',
          container='body'
        ) 
        | and
        img.cv-skills__icon(
          src='../images/simple_icons/javascript.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='JavaScript',
          container='body'
        ) 
        | with
        img.cv-skills__icon(
          src='../images/simple_icons/visualstudiocode.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='VS Code',
          container='body'
        ) 

        | fluent enough to develop
        img.cv-skills__icon(
          src='../images/simple_icons/ios.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='ios',
          container='body'
        ) 
        | &
        img.cv-skills__icon(
          src='../images/simple_icons/android.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='Android',
          container='body'
        ) 
        | native apps by
        img.cv-skills__icon(
          src='../images/simple_icons/nativescript.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='NativeScript',
          container='body'
        ) 
        | with
        img.cv-skills__icon(
          src='../images/simple_icons/vue-dot-js.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='vuejs',
          container='body'
        ) 
        | . He understands
        img.cv-skills__icon(
          src='../images/simple_icons/php.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='PHP',
          container='body'
        ) 
        img.cv-skills__icon(
          src='../images/simple_icons/wordpress.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='wordpress',
          container='body'
        ) 
        | modestly. Uses
        img.cv-skills__icon(
          src='../images/simple_icons/firebase.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='firebase',
          container='body'
        )
        | as backend.
        img.cv-skills__icon(
          src='../images/simple_icons/css3.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='css3',
          container='body'
        ) 
        | mainly with
        img.cv-skills__icon(
          src='../images/simple_icons/bootstrap.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='bootstrap',
          container='body'
        ) 
        | with BEM in
        img.cv-skills__icon(
          src='../images/simple_icons/sass.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='sass',
          container='body'
        ) 
        | . He writes plain
        img.cv-skills__icon(
          src='../images/simple_icons/html5.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='html5',
          container='body'
        ) 
        | with pug, builds with
        img.cv-skills__icon(
          src='../images/simple_icons/webpack.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='webpack',
          container='body'
        ) 
        | , lints with
        img.cv-skills__icon(
          src='../images/simple_icons/eslint.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='eslint',
          container='body'
        ) 

        | , beautifies with
        img.cv-skills__icon(
          src='../images/simple_icons/prettier.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='prettier',
          container='body'
        ) 
        | , documents with
        img.cv-skills__icon(
          src='../images/simple_icons/markdown.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='markdown',
          container='body'
        ) 
        | .
        | Though he is still struggling with the concept of
        img.cv-skills__icon(
          src='../images/simple_icons/git.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='git',
          container='body'
        )
        |
        | he nonetheless loves pushing, rebasing, posting issues and asking stupid things on
        img.cv-skills__icon(
          src='../images/simple_icons/github.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='github',
          container='body'
        )
        | with help from
        img.cv-skills__icon(
          src='../images/simple_icons/dependabot.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='dependabot',
          container='body'
        )
        | .
      span
        a.expand(
          data-toggle='collapse',
          href='#cv-skills__design',
          role='button',
          aria-expanded='false',
          aria-controls='cv-skills__design'
        ) Design
        | .
        = " "
      span#cv-skills__design.paragraph.collapse
        | He uses
        img.cv-skills__icon(
          src='../images/simple_icons/figma.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='figma',
          container='body'
        )
        | &
        img.cv-skills__icon(
          src='../images/simple_icons/adobexd.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='adobe xd',
          container='body'
        )
        | for UI prototyping.
        |
        | Used to be an avid
        img.cv-skills__icon(
          src='../images/simple_icons/adobeindesign.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='adobe InDesign',
          container='body'
        ) 
        img.cv-skills__icon(
          src='../images/simple_icons/adobeillustrator.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='adobe illustrator',
          container='body'
        ) 
        img.cv-skills__icon(
          src='../images/simple_icons/adobephotoshop.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='adobe photoshop',
          container='body'
        ) 
        img.cv-skills__icon(
          src='../images/simple_icons/adobeaftereffects.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='adobe aftereffects',
          container='body'
        ) 
        | of
        img.cv-skills__icon(
          src='../images/simple_icons/adobe.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='adobe',
          container='body'
        ) 
        | (proficiency in this order) user, but
        img.cv-skills__icon(
          src='../images/simple_icons/adobecreativecloud.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='adobe creative cloud',
          container='body'
        )
        | 's pricing drifted him to use
        img.cv-skills__icon(
          src='../images/simple_icons/affinitydesigner.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='affinity designer',
          container='body'
        )
        | . He loves modelling.
        img.cv-skills__icon(
          src='../images/simple_icons/rhinoceros.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='rhinoceros',
          container='body'
        )
        | is his all-time favorite, along with
        img.cv-skills__icon(
          src='../images/simple_icons/autodesk.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='autodesk',
          container='body'
        ) 
        | t-splines. He has also used
        img.cv-skills__icon(
          src='../images/simple_icons/cinema4d.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='cinema4d',
          container='body'
        ) 
        | and
        img.cv-skills__icon(
          src='../images/simple_icons/autodesk.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='autodesk',
          container='body'
        ) 
        | 3ds Max.
      span 
        a.expand(
          data-toggle='collapse',
          href='#cv-skills__english',
          role='button',
          aria-expanded='false',
          aria-controls='cv-skills__english'
        ) English
        | .
        = " "
      span#cv-skills__english.paragraph.collapse TOEIC: 985 (2015 9), TOEFL-iBT: 107 (2013 6).
      span 
        a.expand(
          data-toggle='collapse',
          href='#cv-skills__misc',
          role='button',
          aria-expanded='false',
          aria-controls='cv-skills__misc'
        ) Some other miscellaneous skills
        | .
        = " "
      span#cv-skills__misc.paragraph.collapse
        | Uses
        img.cv-skills__icon(
          src='../images/simple_icons/firefox.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='firefox',
          container='body'
        )
        | ,
        img.cv-skills__icon(
          src='../images/simple_icons/adblockplus.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='adblockplus',
          container='body'
        )
        | , sometimes
        img.cv-skills__icon(
          src='../images/simple_icons/notion.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='notion',
          container='body'
        ) 
        | , stores everything on
        img.cv-skills__icon(
          src='../images/simple_icons/googledrive.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='googledrive',
          container='body'
        ) 
        | , streams with
        img.cv-skills__icon(
          src='../images/simple_icons/obsstudio.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='OBS Studio',
          container='body'
        ) 
        | , photo editing on mobile with
        img.cv-skills__icon(
          src='../images/simple_icons/vsco.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='vsco',
          container='body'
        ) 
        | , streams music on
        img.cv-skills__icon(
          src='../images/simple_icons/spotify.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='spotify',
          container='body'
        ) 
        | pretty much all the time,
        img.cv-skills__icon(
          src='../images/simple_icons/mendeley.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='mendeley',
          container='body'
        ) 
        | , and
        img.cv-skills__icon(
          src='../images/simple_icons/1password.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='1password',
          container='body'
        ) 
        | .
        | Zealous
        img.cv-skills__icon(
          src='../images/simple_icons/apple.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='apple',
          container='body'
        )
        | user of over 10 years. Minimum experiences in
        img.cv-skills__icon(
          src='../images/simple_icons/keras.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='keras',
          container='body'
        )
        | ,
        img.cv-skills__icon(
          src='../images/simple_icons/tensorflow.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='tensorflow',
          container='body'
        )
        | ,
        img.cv-skills__icon(
          src='../images/simple_icons/kaggle.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='kaggle',
          container='body'
        )
        | ,
        img.cv-skills__icon(
          src='../images/simple_icons/latex.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='latex',
          container='body'
        )
        | ,

        img.cv-skills__icon(
          src='../images/simple_icons/drupal.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='drupal',
          container='body'
        )
        | ,
        img.cv-skills__icon(
          src='../images/simple_icons/docker.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='docker',
          container='body'
        )
        | ,
        img.cv-skills__icon(
          src='../images/simple_icons/python.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='python',
          container='body'
        )
        | ,
        img.cv-skills__icon(
          src='../images/simple_icons/pandas.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='pandas',
          container='body'
        ) 
        | ,
        img.cv-skills__icon(
          src='../images/simple_icons/anaconda.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='anaconda',
          container='body'
        ) 
        | ,
        img.cv-skills__icon(
          src='../images/simple_icons/jupyter.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='jupyter',
          container='body'
        ) 
        | ,
        img.cv-skills__icon(
          src='../images/simple_icons/arduino.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='arduino',
          container='body'
        ) 
        | ,
        img.cv-skills__icon(
          src='../images/simple_icons/mathworks.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='matlab',
          container='body'
        ) 
        | , and
        img.cv-skills__icon(
          src='../images/simple_icons/unity.svg',
          data-toggle='tooltip',
          data-placement='top',
          title='unity',
          container='body'
        ) 
        | .
