.cv-of-failures
  .display
    a.expand(
      data-toggle='collapse',
      href='#cv-of-failures',
      role='button',
      aria-expanded='false',
      aria-controls='cv'
    ) CV of Failures
    | .
  #cv-of-failures.collapse
    .subhead rejected jobs
    .row
      .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
        .mono 2020
        .paragraph Chiba University
        .tiny WfH not allowed
      .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
        .mono 2018
        .paragraph 
          a(href='https://www.bcgdv.com/') BCGDV
        .tiny Rejected at the third interview
      .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
        .mono 2017
        .paragraph 
          a(href='https://www.aist.go.jp/index_en.html') AIST
        .tiny Documents rejected (Ph.D. required)
      .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
        .mono 2016
        .paragraph 
          img.cv-of-failures__icon--long(
            src='https://unpkg.com/simple-icons@latest/icons/hitachi.svg'
          ) 
        .tiny Rejected at an informal meeting
      .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
        .mono 2016
        .paragraph 
          img.cv-of-failures__icon(
            src='https://unpkg.com/simple-icons@latest/icons/mitsubishi.svg'
          ) 
        .tiny Told to
          = " "
          span.font-italic 're-apply after acquiring degree'
      .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
        .mono 2012
        .paragraph 
          img.cv-of-failures__icon(
            src='https://unpkg.com/simple-icons@latest/icons/mitsubishi.svg'
          ) 
        .tiny Refused to see
      .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
        .mono 2012
        .paragraph Uchida Yoko
        .tiny Rejected at the final interview
      .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
        .mono 2012
        .paragraph 
          img.cv-of-failures__icon--long(
            src='https://unpkg.com/simple-icons@latest/icons/toshiba.svg'
          ) 
        .tiny Rejected at the design internship
    .subhead rejected internships
    .row
      .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
        .mono 2011
        .paragraph 
          img.cv-of-failures__icon(
            src='https://unpkg.com/simple-icons@latest/icons/fujitsu.svg'
          ) 
        .tiny Documents rejected, later reconsidered
      .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
        .mono 2011
        .paragraph 
          img.cv-of-failures__icon--long(
            src='https://unpkg.com/simple-icons@latest/icons/samsung.svg'
          ) 
        .tiny Documents rejected
    .subhead lost competitions
    .row 
      .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5
        .mono 2019
        .paragraph 
          a(href='https://www.g-mark.org/?locale=en') Good Design Award
        .tiny A VR simulator. As Fujitsu Design. Lost at the second round
      .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5
        .mono 2019
        .paragraph 
          a(href='https://www.g-mark.org/?locale=en') Good Design Award
        .tiny A co-creation data sharing web app. As Fujitsu Design. Lost at the second round
      .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5
        .mono 2015
        .paragraph 
          a(href='https://hack.wired.jp/') Wired Creative Hack Award
        .tiny Lost at the first round
      .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5
        .mono 2011
        .paragraph 
          a(href='https://competition.morisawa.co.jp/en/') Morisawa Type Design Competition
        .tiny Lost at the first round
    .subhead degree programmes I did not get into
    .row 
      .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5
        .mono 2007
        .paragraph University of Tokyo
        .tiny First round
      .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5
        .mono 2007
        .paragraph Tokyo Institute of Technology
        .tiny Second round
    .subhead paper rejections from academic journals
    .row 
      .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5
        .mono 2016
        .paragraph JSSD
      .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5
        .mono 2016
        .paragraph JSSD
        .tiny same paper, never published
