head 
  script(
    async,
    src='https://www.googletagmanager.com/gtag/js?id=UA-122825964-1'
  )
  script(src='../js/google_analytics.js')
  meta(charset='utf-8')
  meta(name='description', content='a CV page of Minoru Matsui')
  meta(name='keywords', content='CV, Minoru Matsui, designer')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(
    rel='stylesheet',
    href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css',
    integrity='sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I',
    crossorigin='anonymous'
  )
  link(rel='stylesheet', href='../style.css')
  script(src='../index.js')
  script(src='https://unpkg.com/stein-js-client')
  link(rel='icon', type='image/x-icon', href='../images/favicon.ico')
  title Minoru Matsui
  //- script(src='../js/db.js') 
