.hello
  .hello__logo-wrapper
    img.hello__logo(
      src='../images/logo.svg',
      alt='mm-logo',
      width='50px',
      height='50px'
    )
  .display 
    span Matsui Minoru is an Assistant Professor of
      = " "
      a.expand(
        data-toggle='collapse',
        href='.scientific',
        role='button',
        aria-expanded='false',
        aria-controls='scientific2'
      ) Design
      = " "
      | at
      = " "
      a(href='https://aiit.ac.jp/') AIIT
    span .
      = " "
      a.download(
        href='https://drive.google.com/open?id=1N9jqZXnmCJ6WnJYA3fPqTOutR3oOhtrg'
      ) Portfolio
    span .
      = " "
    #scientific2.scientific.collapse His research topic is
      = " "
      a.expand(
        data-toggle='collapse',
        href='#evolutionOfDesign',
        role='button',
        aria-expanded='false',
        aria-controls='evolutionOfDesign'
      ) evolution of design
      | .
      = " "
      span#evolutionOfDesign.collapse Do you think designers are creative? His short answer is
        = " "
        a.expand(
          data-toggle='collapse',
          href='#longAnswer',
          role='button',
          aria-expanded='false',
          aria-controls='longAnswer'
        ) no
        | .
        = " "
      #longAnswer.collapse The longer answer is that we invent designs randomly, select designs randomly, and transmit designs randomly. He is not the first one to argue so: previous emprical studies can be found in
        = " "
        a(href='https://doi.org/10.2307/2694174') neolithic Europe
        | ,
        = " "
        a(href='https://royalsocietypublishing.org/doi/10.1098/rspb.2004.2746') Bentley et al. (2004),
        | ,
        = " "
        a(href='https://arxiv.org/abs/cond-mat/0305150') citations
        | ,
        = " "
        | and in
        a(href='https://www.nature.com/articles/nature24455') this nature paper
        | . However, he showed that through
        a.expand(
          data-toggle='collapse',
          href='#inTheLab',
          role='button',
          aria-expanded='false',
          aria-controls='inTheLab'
        ) experiments in the laboratory
        | , which is a bit of a contribution.
        = " "
        span#inTheLab.collapse To understand the design of his experiments, you first need to ... Meh, just read his
        = " "
        a.download(
          href='https://drive.google.com/open?id=1owLZc0wWeUm1fYUBTzgPLJJoidiBgtE8'
        ) Thesis
        | .
