.sns
  .display
    a.expand(
      data-toggle='collapse',
      href='.sns__collapse',
      role='button',
      aria-expanded='false',
      aria-controls='sns'
    ) Social networks
    | .
    use(xlink:href='bootstrap-icons.svg#heart-fill')
  .row
    .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5.sns__col.sns__collapse.collapse
      .subhead consumes
      .paragraph 
        | daily gohan on
        a.sns__icon-link(href='https://www.instagram.com/our.daily.gohan/'): img.sns__icon(
          src='../images/simple_icons/instagram.svg'
        ) 
        | ,
        = " "
        span music on
        a.sns__icon-link(href='https://www.last.fm/user/HALIODXERROX'): img.sns__icon(
          src='../images/simple_icons/last-dot-fm.svg'
        ) 
        | +
        a.sns__icon-link(href='https://soundcloud.com/xerroxcopy'): img.sns__icon(
          src='../images/simple_icons/soundcloud.svg'
        ) 
        | ,
        = " "
        a(href='https://tabelog.com/rvwr/002600384/') Tabelog
        = " "
        | restaurants,
        = " "
        a.sns__icon-link(
          href='https://www.imdb.com/user/ur52548729/watchlist?ref_=uspf_ci'
        ): img.sns__icon(
          src='../images/simple_icons/imdb.svg'
        ) 
        | movies,
        a(
          href='https://www.amazon.jp/hz/wishlist/ls/2E184GYQYUJ2G?ref_=wl_share'
        )
          img.sns__icon(src='../images/simple_icons/amazon.svg') 
          | Wishlist
        span ,
          = " "
        span Sumally
          = " "
        a(href='https://sumally.com/m3226m566a/want')
          | wants
          = " "
        span and
          = " "
        a(href='https://sumally.com/m3226m566a/have')
          | haves
        span .
        a.sns__icon-link(
          href='https://steamcommunity.com/profiles/76561198067118711'
        ): img.sns__icon(
          src='../images/simple_icons/steam.svg'
        ) 
        | .

    .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5.sns__col.sns__collapse.collapse
      .subhead posts
      .paragraph 
        a.sns__icon-link(href='https://www.facebook.com/minoru.matsui.24'): img.sns__icon(
          src='../images/simple_icons/facebook.svg'
        ) 
        | ,
        a.sns__icon-link(href='https://www.instagram.com/xerroxcopy/'): img.sns__icon(
          src='../images/simple_icons/instagram.svg'
        ) 
        | ,
        a.sns__icon-link(href='https://twitter.com/minoru_matsui'): img.sns__icon(
          src='../images/simple_icons/twitter.svg'
        ) 
        | ,
        a.sns__icon-link(
          href='https://www.linkedin.com/in/minoru-matsui-270884ba/'
        ): img.sns__icon(
          src='../images/simple_icons/linkedin.svg'
        ) 
        | ,
        a.sns__icon-link(
          href='https://www.youtube.com/channel/UC5-tJ8jas4e3Y7gOJVIQi9'
        ): img.sns__icon(
          src='../images/simple_icons/youtube.svg'
        ) 
        | (coding),
        a.sns__icon-link(
          href='https://www.youtube.com/channel/UCm__kwRu0aZHjR1pdsDOJ0Q'
        ): img.sns__icon(
          src='../images/simple_icons/youtube.svg'
        ) 
        | (else), his notebooks, dissertations, and presentation slides on
        = " "
        a(href='https://issuu.com/minorumatsui')
          img.sns__icon(src='../images/simple_icons/issuu.svg') 
        span .
    .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5.sns__col.sns__collapse.collapse
      .subhead contributions
      .paragraph 
        a.sns__icon-link(href='https://github.com/xerroxcopy/'): img.sns__icon(
          src='../images/simple_icons/github.svg'
        ) 
        | , his papers on
        a.sns__icon-link(
          href='https://scholar.google.co.jp/citations?user=8rG5tiwAAAAJ&hl=ja'
        ): img.sns__icon(
          src='../images/simple_icons/googlescholar.svg'
        ) 
        | ,
        a(href='https://www.researchgate.net/profile/Minoru_Matsui') ResearchGate
        | ,
        a.sns__icon-link(href='https://qiita.com/xerroxcopy'): img.sns__icon(
          src='../images/simple_icons/qiita.svg'
        ) 
        | posts,
        a.sns__icon-link(
          href='https://stackoverflow.com/users/8342231/xerroxcopy'
        ): img.sns__icon(
          src='../images/simple_icons/stackoverflow.svg'
        ) 
        | Stack Overflow,
        a.sns__icon-link(
          href='https://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E6%8A%95%E7%A8%BF%E8%A8%98%E9%8C%B2/Tassels'
        ): img.sns__icon(
          src='../images/simple_icons/wikipedia.svg'
        ) 
        | Wikipedia edits history.
    .col-12.col-md-6.col-xl-4.col-xxl-3.pr-md-5.pb-5.sns__col.sns__collapse.collapse
      .subhead contacts
      .paragraph 
        a.sns__icon-link(href='https://www.messenger.com/t/minoru.matsui.24'): img.sns__icon(
          src='../images/simple_icons/messenger.svg'
        ) 
        | ,
        a.sns__icon-link(href='mailto:xerroxcopy at gmail.com'): img.sns__icon(
          src='../images/simple_icons/gmail.svg'
        ) 
        | , +81(70)4397 9485.
